// For Variables

// Progress bg colours
$pg-default-bg: #EEE;

// Progress bar bg colours
$bar-default-bg: #3798d9;
$bar-info-bg: #9575cd;
$bar-danger-bg: #ef5350;
$bar-success-bg: #66bb6a;
$bar-warning-bg: #ffb74d;

$color-blue-100: #bbdefb;
$color-deepPurple-100: #d1c4e9;
$color-amber-100: #ffecb3;
$color-green-100: #c8e6c9;
$color-red-100: #ffcdd2;
