// For Variables

// Progress bg colours
$pg-default-bg: #EEE;

// Progress bar bg colours
$bar-default-bg: #3798d9;
$bar-info-bg: #9575cd;
$bar-danger-bg: #ef5350;
$bar-success-bg: #66bb6a;
$bar-warning-bg: #ffb74d;
